.header_ {
    background-color: #0E0E10;
    display: flex;
    justify-content: center;
}

.header_>div {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    width: 700px;
}

.header_>div>span {
    font-size: 0.7em;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
    letter-spacing: 1px;
    color: var(--solid-white);
    opacity: 0.7;
}

.sign_up {
    background-color: var(--solid-skyblue);
    font-size: 0.6em;
    color: var(--solid-white);
    padding: 7px;
    letter-spacing: 1px;
    line-height: 150%;
    /* 30px */
    border-radius: 0.5em;

}