.header_ {
    background-color: #0E0E10;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
}

.header_>div {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    width: 700px;
}

.header_>div>span {
    font-size: 0.7em;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
    letter-spacing: 1px;
    color: var(--solid-white);
    opacity: 0.7;
}

.sign_up {
    background-color: var(--solid-skyblue);
    font-size: 0.7em;
    color: var(--solid-white);
    padding: 7px;
    letter-spacing: 1px;
    line-height: 150%;
    /* 30px */
    border-radius: 0.5em;
    padding-left: 15px;
    padding-right: 15px;
}





.main_banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url(/Banner.png) lightgray 50% / cover no-repeat;
    height: 55vh;
    display: flex;
    align-items: flex-end;
}

.main_banner>div {
    margin-left: 30vw;
    margin-bottom: 50px;
    color: var(--solid-white);

}

.topic_process {
    background-color: #0E0E10;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.topic_process>.process_text {
    color: #9700EF;
    font-size: 2.25em;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.topic_process>.process_text>span {
    color: white;
}

.process_bar {
    width: 700px;
    height: 10px;
    background-color: brown;
}